.primary {
    color :red;
    text-align: center;
}



  body {
    background-image: url(./images/backround.png);
    overflow-x: hidden;
  }
.container{
    background-image: url(./images/form.jpg);
    width: 350px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  height: 220px; 
  }

  .container2{
    background-image: url(./images/form.jpg);
    width: 350px;
    opacity: 0.6;
    border-radius: 25px;  
    height: 220px; 
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container3{
    background-image: url(./images/form.jpg);
    width: 380px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px; 
  }

  .container4{
    background-image: url(./images/form.jpg);
    width: 350px;
    opacity: 0.6;
    border-radius: 25px;  
    height: 180px; 
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }


  .container5{
    background-image: url(./images/form.jpg);
    width: 370px;
    opacity: 0.6;
    border-radius: 25px;  
    height: 220px; 
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

.SessionsLink{
  margin-left: 130px;
  color: black;
  display: inline-block;

}



.result2{
    text-align: center;
    margin-top: 30px;  
}

.Login{
  text-align: center;
  margin-top: 200px;
  font-family: 'Copperplate', sans-serif;
}

.headermod{
  text-align: center;
  margin-top: 200px;
  font-family: 'Copperplate', sans-serif;
}
.result{
    background-image: url(./images/form.jpg);
    width: 300px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px; 
    text-align: center;
    margin-top: 200px;
    font-family: 'Copperplate', sans-serif;
}


.AdminGetInputLabel{
  font-family: 'Roboto Medium';
  margin-top: 10px;
  margin-left: 10px;
}
.AdminModInputLabel{
  font-family: 'Roboto Medium';
  margin-left: 20px;
}

.ResultList{
    background-image: url(./images/form.jpg);
    width: 700px;
    opacity: 0.8;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 157px; 
    text-align: center;
    margin-top: 200px;  
    margin-top: 150px; 
    list-style: none;
    font-family: Impact, fantasy;
  }


  .SessionsResultList{
    background-image: url(./images/form.jpg);
    width: 700px;
    opacity: 0.8;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
    text-align: center;
    margin-top: 200px;  
    margin-top: 150px; 
    list-style: none;
    font-family: Impact, fantasy;
  }

  .SessionsperEVResultList{
    background-image: url(./images/form.jpg);
    width: 700px;
    opacity: 0.8;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 170px; 
    text-align: center;
    margin-top: 200px;  
    margin-top: 150px; 
    list-style: none;
    font-family: Impact, fantasy;
  }
  .SessionsPointResultList{
    background-image: url(./images/form.jpg);
    width: 400px;
    opacity: 0.8;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px; 
    text-align: center;
    margin-top: 200px;  
    margin-top: 150px; 
    list-style: none;
    font-family: Impact, fantasy;
  }

  .SessionsperProviderResultList{
    background-image: url(./images/form.jpg);
    width: 400px;
    opacity: 0.8;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
    text-align: center;
    margin-top: 200px;  
    margin-top: 150px; 
    list-style: none;
    font-family: Impact, fantasy;
  }


  table{
    background-image: url(./images/form.jpg);
    table-layout: fixed;
    width: 180px;
    opacity: 0.8;
  }

  .barchart{
    
    margin-top:600px;
  }
  .error{
    font-family: Copperplate;
    font-size:18px;
    color :rgb(117, 26, 26);
    text-align: center;
  }


  .table-wrapper {
    position:absolute;
  }
  .table-scroll {
    height:400px;
    overflow:auto;  
    margin-top:20px;
  }



  .sessionsupdheader {
    margin-top:200px;
    margin-left:80px;
  }

  .sessionsupd{
    background-image: url(./images/form.jpg);
    width: 400px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  height: 220px; 
  }

  .sessionsupdlist{
    background-image: url(./images/form.jpg);
    width: 400px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
  }

  .sessionserror{
    color :rgb(117, 26, 26);
  }

  .Sessionsimportreturn{
    background-image: url(./images/form.jpg);
    width: 400px;
    opacity: 0.6;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px; 
    margin-top: 200px;
    font-family: Impact, fantasy;
  }

  .PieChart{
    
    margin-top:600px;
  }

  .logo{
    font-style: oblique;
    color: white;
    font-size: 25px;
  }

  .logo:hover {
    color:  white;
    text-decoration: none; 
  }

  .leftImage{
    background-image: url(./images/e-mobility.png);
    width: 700px;
    display: block;
    margin-left: 30px;
    margin-right: auto;
    height: 460px; 
    margin-top: 150px;
    transition: 1s
  }

  .leftImage:hover{
    background-image: url(./images/e-mobility-text.png);
    opacity:0.8;
    width: 700px;
    display: block;
    margin-left: 30px;
    margin-right: auto;
    height: 460px; 
    margin-top: 150px;  
  }


  .RightImage{
    background-image: url(./images/e-charging-data.png);
    width: 700px;
    display: block;
    margin-left: 60px;
    margin-right: auto;
    height: 460px; 
    margin-top: 150px;
    transition: 1s
  }

  .RightImage:hover{
    background-image: url(./images/e-charging-data-text.png);
    opacity:0.8;
    width: 700px;
    display: block;
    margin-left: 60px;
    margin-right: auto;
    height: 460px; 
    margin-top: 150px;
  }
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .Contactcontainer{
    background-image: url(./images/form.jpg);
    width: 600px;
    opacity: 0.6;
    border-radius: 25px;  
    height: 300px; 
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .contactus{
    font-family: Impact, fantasy;
    margin-left: 220px;
    font-size: 40px;
  }

  .address{
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .postalcode{
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .email{
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .BadRequest{
    color:white;
  }


  .GoElectric{
    opacity: 0.6;
    font-family: Impact, fantasy;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 650px;
    color:white;
  }


  .GoEverywhere{
    opacity: 0.6;
    font-family: Impact, fantasy; 
    font-size: 60px;
    margin-top: 60px;
    margin-left: 610px;
    color:white;
  }


  